/* Skills Section */
.skills {
    background-color: #2b2e3b;
    color: var(--color-white);
    padding: 3rem 5% 7rem;
    text-align: center;
    min-height: max-content;
}

.skills-subtitle {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 70px;
}

.skills-subtitle span {
    color: var(--primary-color);
}

/* Skills Grid Layout */
.skills-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Skill Box Styling */
.skill-box {
    background-color: #1a1d25;
    color: var(--color-white);

    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--body-font);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;

    cursor: pointer;
}



/* Skill Box Image */
.skill-box__img {
    max-width: 40px;
    margin-right: 10px;
    flex: 1;
    object-fit: contain;
}

/* Skill Box Text */
.skill-box p {
    flex: 1;
    color: var(--color-white);
}

/* Hover Effects */
.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--color-black);
}

.skill-box.active {
    background-color: var(--primary-color);
    color: white;
}


/* 📱 Responsive Adjustments */
@media (max-width: 1024px) {
    .skills-container {
        grid-template-columns: repeat(3, minmax(150px, 1fr)); /* 3 columns */
    }
}

@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* 2 columns */
        gap: 15px;
    }

    .skill-box {
        padding: 15px;
    }

    .skill-box__img {
        max-width: 35px;
    }

    .skill-box p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .skills-container {
        grid-template-columns: repeat(1, minmax(150px, 1fr)); /* 1 column */
        gap: 10px;
    }

    .skill-box {
        padding: 10px;
    }

    .skill-box__img {
        max-width: 30px;
    }

    .skill-box p {
        font-size: 0.9rem;
    }
}
